html{
    background-image: url("img/back.png"); 
    background-repeat: repeat-y;
    background-size: cover ;
}

h1, h2{
    color: #F2E19B;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: expanded;
    z-index: 4;
}

h1{
    padding-top: 3vh;
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}


.grid1{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    /* grid-template-rows: auto; */
    padding-left: 4%;
    padding-top: 3%;
    align-items: top, center;
    grid-gap: 3%;
    z-index: 1;

}
.grid1 .container1{
    height: 30vw;
    /* background-color: grey; */
}

.grid1 .container1 .frame1{
    width: 35vw;
    z-index: 5;
}

.grid1 .container1 .sun{
    align-content: top;
}

/*  */
.grid1 .container2{
    height: 20vw;
    /* background-color: grey; */
}

.grid1 .container2 .frame2{
    width: 20vw;
    z-index: 5;
}

.grid1 .container2 .mercury{
    align-content: top;
    padding-top: 6%;
}

.grid1 .container2{
    height: 20vw;
    /* background-color: grey; */
}

.grid1 .container2 .frame2{
    width: 20vw;
    z-index: 5;
}

.grid1 .container2 .mercury{
    align-content: top;
    padding-top: 6%;
}

.grid1 .container3{
    width: 25vw;
    height: 45vh;
    /* background-color: grey; */
}

.grid1 .container3 .frame3{
    z-index: 5;
}

.grid1 .container3 .venus{
    align-content: top, center;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3%;
    position: relative;
    top:-7em;
    z-index: 2;
    width: 50vw;
    grid-gap: 4.8%;
    padding-top: 6%;
}

/* .grid2 .container4{
    height: vw;
} */

.grid2 .container4 .frame4{
    width: 32vw;
    z-index: 3;
}

.grid2 .container4 .earth{
    align-content: top,center;
    padding-top: 16%;
}

.grid2 .container5{
    height: 40vh;
    /* background-color: grey; */
}

.grid2 .container5 .frame5{
    width: 25vw;
    z-index: 3;
}

.grid2 .container5 .mars{
    align-content: top;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2%;
    padding-right: 4%;
    position: relative;
    top: -7em;
    z-index: 3;
    grid-gap: 2%;
    align-items: baseline;
    padding-top: 3%;
}

.grid3 .container6{
    height: 40vh;
    /* background-color: grey; */
}

.grid3 .container6 .frame6{
    width: 32vw;
    z-index: 3;
}

.grid3 .container6 .jupiter{
    align-content: top, center;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    padding-right: 4%;
    position: relative;
    top: -6em;
    z-index: 4;
    grid-gap: 3%;
    align-items: center;
    padding-top: 4%;
}

.frame2{
    width: 20vw;
}
.frame3{
    height: 45vw;
}
.frame4{
    width: 35vw;
    padding-top: 15%;
}
.frame5{
    width: 20vw;
}
.frame6{
    width: 32vw;
}
.frame7{
    width: 27vw;
}
.frame8{
    width: 30vw;
}
.frame9{
    width: 40vw;
}
.frame10{
    width: 40vw;
}


.earth{
    content: url(img/[0001-0120]_2.gif);
    width: 30vw;
    position:absolute;
    z-index: 6;
    padding-left: 3%;
}

/* .earth:hover{ 
    content: url(img/[0001-0120]_2.gif);
} */

.mars{
    content: url(img/mars.gif);
    width: 25vw;
    position:absolute;
    z-index: 6;
    padding-top: 15%;
    /* padding-left: -20%; */
}


.sun{
    content: url(img/sun\ copy.gif);
    width: 35vw;
    position:absolute;
    z-index: 6;
    padding-top: 5%;
}
/* .sun:hover{
    content:url(img/sun\ copy.gif);
} */

.mercury{
    content: url(img/mercury\ copy.gif);
    width: 20vw;
    position:absolute;
    z-index: 6;
    padding-top: 5%;
    padding-left: 0.3%;
}

/* .mercury:hover{ 
    content: url(img/mercury\ copy.gif);
} */

.venus{
    content: url(img/venus.gif);
    width: 27vw;
    position:absolute;
    z-index: 6;
    padding-top: 15%;
}

.jupiter{
    content: url(img/jupiter.gif);
    width: 27vw;
    position:absolute;
    z-index: 6;
    padding-top: 9%;
    padding-left: 3%;
}

.saturn{
    content: url(img/saturn.gif);
    width: 21vw;
    position:absolute;
    z-index: 6;
    padding-top: 9%;
    padding-left: 3%;
}

.uranus{
    content: url(img/uranus\ copy.gif);
    width: 28vw;
    position:absolute;
    z-index: 6;
    padding-top: 10%;
    padding-left: 1%;
    vertical-align: middle;
}

.neptune{
    content: url(img/neptune\ copy.gif);
    width: 34vw;
    position:absolute;
    z-index: 6;
    padding-top: 7%;
    padding-left: 3.5%;
}

.pluto{
    content: url(img/pluto.gif); 
    width: 34vw;
    position:absolute;
    z-index: 6;
    padding-top: 7%;
    padding-left: 3.5%;
}

.overlay-outer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width:92%;
    height:70vh;
    align-items: center;
    background-color: red;
    z-index: 2000;
    background-color: transparent;
}

.overlay1{
    width: 80%;
    height: 90%;
    margin: auto;
    background-color: blue;
    z-index: 2001;
    display: none;
    opacity:0%;
}


.container1:hover .overlay1{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
}
/* andrew 3d modeled all of the planets! */


