/* .backgroundImg{
    border: 0;
    max-width: auto;
    max-height: 100%;
    opacity: 0.8;
    z-index: 1;
    
} */

html{
    background-image: url("img/back.png"); 
    background-repeat: repeat-y;
    background-size: cover ;
}

h1, h2{
    color: #F2E19B;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: expanded;
    z-index: 4;
}

h1{
    padding-top: 3vh;
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}


.pictures1{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    padding-left: 4%;
    padding-top: 3%;
    z-index: 3;
    align-items: top, center;
    grid-gap: 3%;
}
.pictures2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3%;
    position: relative;
    top:-7em;
    width: 62vw;
    z-index: 4;
    grid-gap: 4.8%;
}
.pictures3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2%;
    padding-right: 4%;
    position: relative;
    top: -7em;
    z-index: 5;
    grid-gap: 2%;
    align-items: baseline;
}
.pictures4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    padding-right: 4%;
    position: relative;
    top: -6em;
    z-index: 6;
    grid-gap: 3%;
    align-items: center;
}


.pic1{
    width: 35vw;
}

.pic2{
    width: 20vw;
}
.pic3{
    height: 45vw;
}
.pic4{
    width: 35vw;
}
.pic5{
    width: 20vw;
}
.pic6{
    width: 32vw;
}
.pic7{
    width: 27vw;
}
.pic8{
    width: 30vw;
}
.pic9{
    width: 40vw;
}
.pic10{
    width: 40vw;
}

.gifs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 4%;
    padding-top: 3%;
    z-index: 5;
    position: absolute;
    display: inline-block;

}
.planets1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 4%;
    padding-top: 3%;
    z-index: 5;
    position: absolute;
    display: inline-block;
    z-index: 7;
}
.planets2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3%;
    position: relative;
    top:-7em;
    width: 62vw;
    z-index: 4;
    grid-gap: 4.8%;
}
.planets3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2%;
    padding-right: 4%;
    position: relative;
    top: -7em;
    z-index: 5;
    grid-gap: 2%;
    align-items: baseline;
}
.planets4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    padding-right: 4%;
    position: relative;
    top: -6em;
    z-index: 6;
    grid-gap: 3%;
    align-items: center;
}

.earth{
    content: url(img/0028.png);
    padding-top: 13.5%;
    width: 35vw;
    z-index: 6;
}

.earth:hover{ 
    content: url(img/[0001-0120]_2.gif);
}

.mars{
    content: url(img/mars-still.png);
    padding-top: 13.5%;
    width: 35vw;
    z-index: 6;
}
.mars:hover{
    content: url();
}