html{
    background-image: url("img/back.png"); 
    background-repeat: repeat-y;
    background-size: cover ;
}

h1, h2, h3, h4, p{
    color: #F2E19B;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: expanded;
    /* z-index: 4; */
}

h1{
    padding-top: 3vh;
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}

h3, h4, p{
    color: #F2E19B;
    margin: 5%;
}

h4, p{
    text-align: left;
}


.grid1{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    /* grid-template-rows: auto; */
    padding-left: 4%;
    padding-top: 3%;
    align-items: top, center;
    grid-gap: 3%;
    z-index: 1;

}
.grid1 .container1{
    height: 30vw;
    /* background-color: grey; */
}

.grid1 .container1 .frame1{
    width: 35vw;
    z-index: 5;
}

.grid1 .container1 .sun{
    align-content: top;
}

/*  */

.grid1 .container2{
    height: 20vw;
    /* background-color: grey; */
}

.grid1 .container2 .frame2{
    width: 20vw;
    z-index: 5;
}

.grid1 .container2 .mercury{
    align-content: top;
    padding-top: 6%;
}

.grid1 .container3{
    width: 25vw;
    height: 45vh;
    /* background-color: grey; */
}

.grid1 .container3 .frame3{
    z-index: 5;
}

.grid1 .container3 .venus{
    align-content: top, center;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3%;
    position: relative;
    top:-7em;
    z-index: 2;
    width: 50vw;
    grid-gap: 4.8%;
    padding-top: 6%;
}

/* .grid2 .container4{
    height: vw;
} */

.grid2 .container4 .frame4{
    width: 32vw;
    /* z-index: 3; */
}

.grid2 .container4 .earth{
    align-content: top,center;
    padding-top: 16%;
}

.grid2 .container5{
    height: 40vh;
    /* background-color: grey; */
}

.grid2 .container5 .frame5{
    width: 25vw;
    /* z-index: 3; */
}

.grid2 .container5 .mars{
    align-content: top;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2%;
    padding-right: 4%;
    position: relative;
    top: -7em;
    z-index: 3;
    grid-gap: 2%;
    align-items: baseline;
    padding-top: 3%;
}

.grid3 .container6{
    height: 40vh;
    /* background-color: grey; */
}

.grid3 .container6 .frame6{
    width: 32vw;
    z-index: 3;
}

.grid3 .container6 .jupiter{
    align-content: top, center;
}

.grid4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5%;
    padding-right: 4%;
    position: relative;
    top: -6em;
    z-index: 4;
    grid-gap: 3%;
    align-items: center;
    padding-top: 4%;
}

.frame2{
    width: 20vw;
}
.frame3{
    height: 45vw;
}
.frame4{
    width: 35vw;
    padding-top: 15%;
}
.frame5{
    width: 20vw;
}
.frame6{
    width: 32vw;
}
.frame7{
    width: 27vw;
}
.frame8{
    width: 30vw;
}
.frame9{
    width: 40vw;
}
.frame10{
    width: 40vw;
}


.earth{
    content: url(img/[0001-0120]_2.gif);
    width: 30vw;
    position:absolute;
    z-index: 6;
    padding-left: 3%;
}

/* .earth:hover{ 
    content: url(img/[0001-0120]_2.gif);
} */

.mars{
    content: url(img/mars.gif);
    width: 25vw;
    position:absolute;
    z-index: 6;
    padding-top: 15%;
    /* padding-left: -20%; */
}


.sun{
    content: url(img/sun\ copy.gif);
    width: 35vw;
    position:absolute;
    z-index: 6;
    padding-top: 5%;
}
/* .sun:hover{
    content:url(img/sun\ copy.gif);
} */

.mercury{
    content: url(img/mercury\ copy.gif);
    width: 20vw;
    position:absolute;
    z-index: 6;
    padding-top: 5%;
    padding-left: 0.3%;
}

/* .mercury:hover{ 
    content: url(img/mercury\ copy.gif);
} */

.venus{
    content: url(img/venus.gif);
    width: 27vw;
    position:absolute;
    z-index: 6;
    padding-top: 15%;
}

.jupiter{
    content: url(img/jupiter.gif);
    width: 27vw;
    position:absolute;
    z-index: 6;
    padding-top: 9%;
    padding-left: 3%;
}

.saturn{
    content: url(img/saturn.gif);
    width: 21vw;
    position:absolute;
    z-index: 6;
    padding-top: 9%;
    padding-left: 3%;
}

.uranus{
    content: url(img/uranus\ copy.gif);
    width: 28vw;
    position:absolute;
    z-index: 6;
    padding-top: 10%;
    padding-left: 1%;
    vertical-align: middle;
}

.neptune{
    content: url(img/neptune\ copy.gif);
    width: 34vw;
    position:absolute;
    z-index: 6;
    padding-top: 7%;
    padding-left: 3.5%;
}

.pluto{
    content: url(img/pluto.gif); 
    width: 34vw;
    position:absolute;
    z-index: 6;
    padding-top: 7%;
    padding-left: 3.5%;
}

/* .overlay-outer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width:92%;
    height:70vh;
    align-items: center;
    background-color: red;
    z-index: 30;
    background-color: transparent;
    pointer-events: none;
} */

.overlay1{
    width: 60%;
    height: 50%;
    margin: auto;
    background-color: #c8581f;
    z-index: 32;
    display: none;
    opacity:0%;
    user-select: none;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 25px;
}


.container1:hover .overlay1{
    display: block;
    opacity:100%;
    transition: 5s;
    overflow-y: hidden;
    position: fixed

}
/* andrew 3d modeled all of the planets! */
.overlay2{
    width: 60%;
    height: 50%;
    margin: auto;
    background-color: #5b5c5b;
    z-index: 32;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}


.container2:hover .overlay2{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed

}

.overlay3{
    width: 60%;
    height: 50%;
    margin: auto;
    background-color: #726149;
    z-index: 32;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}


.container3:hover .overlay3{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
}

.overlay4{
    width: 60%;
    height: 50%;
    background-color: #394513;
    z-index: 200000;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container4:hover .overlay4{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
    z-index: 200000;
}

.overlay5{
    width: 60%;
    height: 50%;
    background-color: #4b332d;
    z-index: 33;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container5:hover .overlay5{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
}

.overlay6{
    width: 60%;
    height: 50%;
    background-color: #683913;
    z-index: -1;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container6:hover .overlay6{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
    z-index: 33;
}


.overlay7{
    width: 60%;
    height: 50%;
    background-color: #5e502f;
    z-index: 33;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container7:hover .overlay7{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
}

.overlay8{
    width: 60%;
    height: 50%;
    background-color: #5c6263;
    z-index: 33;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container8:hover .overlay8{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
}

.overlay9{
    width: 60%;
    height: 50%;
    background-color: #273a7b;
    z-index: 33;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container9:hover .overlay9{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
}

.overlay10{
    width: 60%;
    height: 50%;
    background-color: #140801;
    z-index: 33;
    display: none;
    opacity:0%;
    user-select: none;
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    position:fixed;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

.container10:hover .overlay10{
    display: block;
    opacity:100%;
    transition: opactiy 2s;
    overflow-y: hidden;
    position: fixed;
}






